<!-- About -->
<div class="margin">
<h1 style="color: white;">Hello!</h1>
<div class="row">
<div class="col-6 container">
<h5 style="color: white;"> My name is Yuna and programming always has facinated me. 
    My interest is in backend development to take care of things behind the scenes.</h5>
<br>
<h5 style="color: white;">I've trained to code in Software Engineering Technician course at Centennial College.
    I am accompanied with the basic programming knowledge in C#, Java, SQL, CSS, HTML, Javascript. </h5>
<br><br>
<a class="btn btn-outline-light btn-sm" href="/Assets/Resume.pdf">Resume</a>
</div>

<div class="col-5"><img src="/Assets/images/profile2.jpg" alt="profile" style="width:400px; height:400px;"></div>

</div>
</div>