<!-- Contact -->
<div class="margin">
<!-- my contact info -->
<div style="float: right;">
<h1 style="color: #76D57B">Yuna Jung</h1>
<h5 style="color: white"><i class="fa-solid fa-envelope"></i>&nbsp&nbspyjung13@my.centennialcollege.ca</h5>
<h5 style="color: white"><i class="fa-solid fa-phone"></i>&nbsp&nbsp647 870 7527</h5>
<h5 style="color: white"><i class="fa-brands fa-github"></i>&nbsp&nbsphttps://github.com/YunaJung97</h5>
<br>
<br>
</div>

<!-- interactive form for users -->
<form method="post" action="mailto:yjung13@my.centennailcollege.ca">
    <fieldset id="box">
        <h2>Get In Touch</h2>
        <br>
        <p>
        <label>First Name:&nbsp
        <input name="FirstName" size="50" type="text" tabindex="1">
        </label>
        </p>
        <br>
        <p>
        <label>Last Name:&nbsp
        <input name="LastName" size="50" type="text" tabindex="1">
        </label>
        </p>
        <br>
        <p>
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPhone:&nbsp
        <input type="tel" placeholder= "(###)###-####">
        </label>
        </p>
        <br>
        <p>
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEmail:&nbsp
        <input type="email" size="50" required="required">
        </label>
        </p>
        <br>
        <p>
            <label>Message:</label>
            <br>
            <textarea cols="90" name="txtOther" rows="7" tabindex="39"></textarea><br><br>
            </p>
        </fieldset>
        <br>
        <br>
        <div class="col-md-12 text-center">
        <label>
            <input name="btnReset" tabindex="43" type="reset" value="Clear Form" class="btn btn-outline-light">&nbsp
            <a class="btn btn-outline-light" href="/home">Return Home</a>&nbsp
            <input name="btnSubmit" tabindex="41" type="submit" value="Submit" class="btn btn-outline-light">
        </label>
        </div>
</form>
</div>