<!-- Home -->
<div class="margin">
<h4 style="color: #76D57B;">Hi, my name is</h4>
<h1 style="color: white; font-size: 6em;">Yuna Jung.</h1>
<h1 style="color: white; font-size: 5em;">I code because it's FUN!</h1>
<br>
<h5 style="color: #76D57B;">I'm currently a student in Software Engineering Technician program at Centennial college.</h5>
<h5 style="color: #76D57B;">I'm ready to be an ambitious programmer.</h5>
<br>
<a class="btn btn-dark btn-sm" href="/about">About Me</a>
</div>