<!-- Projects -->
<div class="margin ">
<!-- First project -->
    <div class="row">
    <h2 style="text-align: center; color: white; font-size: 5em; padding-bottom: 20px;">Bug Smasher Game</h2>
    <h5 class="container" style="color: white "><div class="lineHeight"> This Bus Smasher Game randomly generates the bug to hop around the given area. If the player succees to catch the bug by clicking on it, the score increments and the hopping interval decrements, so the game becomes harder. The player may reset the speed and the store by clicking the apporiate button.</div></h5>

</div>
    <img src="/Assets/images/bugSmasher.jpg" class="img-responsive center-block d-block mx-auto">
    <br><br><br><br><br><br>
<div>

<!-- Second project -->
<h2 style="text-align: center; color: white; font-size: 5em; padding-bottom: 20px;">Dynamic Table Generator</h2>
<h5 class="container" style="color: white "><div class="lineHeight"> This Dynamic Table Generator dynamically creates a table according to the input number of rows and columns. However, the inputs are limited to 1 to 15. If invalid inputs are detected, the generator will automatically around the input to the nearest valid value.</h5>
<img src="/Assets/images/tableGenerator.jpg" class="img-responsive center-block d-block mx-auto" style="width:1200px; height:766.5px;">
<br><br><br><br><br><br>

<!-- Third project -->
<h2 style="text-align: center; color: white; font-size: 5em; padding-bottom: 20px;">BMR Calculator</h2>

    <h5 class="container" style="color: white "><div class="lineHeight"> This BMR Calculator calculate Basal Metaboli Rate (BMR), the number of calories required to keep one's body functioning at rest. The use may choose metric or imperial units. In addition, the calculator also provides Total Daily Energy Expenditure (TDEE), an estimation of how many calories you burn per day when exercise is taken into account, depending on the user's activity level. </h5>
    <img src="/Assets/images/BMRCalculator.jpg" alt="BMRCalculator" class="img-responsive center-block d-block mx-auto" >
    <br><br><br><br><br><br>

</div>