<!-- Services -->
<div class="margin">
<h3>
<li style="margin-top: 0.5em; color: #76D57B">General programming knowledge (C#, HTML, CSS, Javascript, Java)</li>
<li style="margin-top: 0.5em; color: #76D57B">Mathmematical aptitude</li>
<li style="margin-top: 0.5em; color: #76D57B">Ability to work as a team player</li>
</h3>
<img src="/Assets/images/codingImage.png" style="width:500px; height:500px; float: right;">
</div>